<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                GadgetHub
            </a> -->

            <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="{{ url_for('products') }}" class="nav-link px-2 text-white">Products</a></li>
                {% if is_authenticated %}
                <!-- <li><a href="{{ url_for('cart') }}" class="nav-link px-2 text-white">Cart</a></li> -->
                <li><a href="{{ url_for('orders') }}" class="nav-link px-2 text-white">Orders (0)</a></li>
                <li><a href="{{ url_for('logout') }}" class="nav-link px-2 text-danger">Logout</a></li>
                {% endif %}

            </ul>


            {% if is_authenticated %}
            <a href="{{url_for('profile')}}" class="nav-link d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <span>{{user.full_name}}</span>
            </a>
            {% else %}
            <div class="text-end">
                <a href="{{ url_for('login') }}" type="button" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ url_for('register') }}" type="button" class="btn btn-warning">Sign-up</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>