<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


            <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('admin') }}" class="nav-link px-2 text-white">Dashboard</a></li>
                <li><a href="{{ url_for('admin_products') }}" class="nav-link px-2 text-white">Products</a></li>
                <li><a href="{{ url_for('admin_orders') }}" class="nav-link px-2 text-white">Orders</a></li>
                <li><a href="{{ url_for('admin_customers') }}" class="nav-link px-2 text-white">Customers</a></li>
                <li><a href="{{ url_for('logout') }}" class="nav-link px-2 text-danger">Logout</a></li>
            </ul>
            <a href="{{url_for('profile')}}" class="nav-link d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <span>{{user.full_name}}</span>
            </a>

        </div>
    </div>
</header>