{% extends 'layouts/base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>ToDo App</h1>
        <form action="{{ url_for('logout') }}" method="post">
            <button class="btn btn-danger" type="submit">Logout from {{user.username}}</button>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" id="taskInput" name="taskInput" placeholder="Enter task">
                </div>
                <div class="form-group">
                    <input type="file" class="" id="fileInput" name="my_image">
                </div>
                <button type="submit" class="btn btn-primary">Add Task</button>
            </form>
        </div>
    </div>
    <hr>
    <h3>Tasks:</h3>
    <ul class="list-group" id="taskList">
        {% for task in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ task.title }}
            <img src="{{ task.image}}" class="img-thumbnail" alt="" style="height: 400px;">
            <form action="/delete/{{ task.id }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock content %}