{% extends 'layouts/base.html' %} {% block title %} GadgetHub {% endblock title
%} {% block content %} {% include 'common/header.html' %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container mx-auto mt-3 alert alert-{{category}}" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">
        Ultimate Destination for Tech Enthusiasts
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            GadgetHub is the go-to destination for tech enthusiasts, offering a
            curated selection of the latest gadgets and tech accessories. From
            smartphones to smart home devices, we bring innovation right to your
            fingertips. Elevate your tech experience with GadgetHub, where innovation
            meets convenience.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{url_for('products')}}" class="btn btn-info px-3 gap-2 d-flex align-items-center"><span>Start
                    Shopping</span>
                <span class="material-symbols-outlined"> arrow_right_alt </span></a>
        </div>
    </div>
</div>

{% endblock content %}