{% extends 'layouts/base.html' %}
{% block title %}
GadgetHub
{% endblock title %}
{% block content %}
{% include 'common/header.html' %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container mx-auto mt-3 alert alert-{{category}}" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container mx-auto">
    <div class="album py-2">
        <div class="d-flex justify-content-end my-3">
            <form class="d-flex" role="search" action="{{url_for('products')}}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for p in products.items %}
                <div class="col">
                    <div class="card shadow-sm " style=" min-width: 300px;">
                        <img src="{{p.image}}" alt="" class="thumbnail-img card-img-top object-fit-cover p-2"
                            style="width: auto; height: 400px">
                        <div class="card-body">
                            <h5>{{p.name}}</h5>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button> -->
                                    <a href="{{ url_for('checkout', product_id=p.id) }}" type="button"
                                        class="btn btn-sm btn-outline-secondary">
                                        Buy Now
                                    </a>
                                </div>
                                <small class="text-body-secondary">Rs. {{p.price}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="my-5 container mx-auto d-flex justify-content-between align-items-center">{% if products.has_prev %}
            <a class="btn btn-outline-secondary btn-sm"
                href="{{ url_for('products', page=products.prev_num) }}">Previous</a>
            {% endif %}

            {% if products.has_next %}
            <a class="btn btn-outline-secondary btn-sm"
                href="{{ url_for('products', page=products.next_num) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}